@import "menu.css";
@import "modal.css";



.head{
  background-color: rgb(201,184,213);
  min-height: 50px;
  position: relative;
  vertical-align: top
}

.logo{
  background-image: url("../../images/logo_officiel.png");
  height: 85px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.HeadTitle{
  position: relative;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  color: rgb(85,1,122);
  font-size: 60px;
  margin-bottom: 15px;
  line-height: 1.4;
  margin-top: 20px;
}
.HeadTitle span{
  font-weight: bold;
}

.DeepsSection{
  display: inline-block;
  max-width: 8em;
  height: 2.8em;
  background-color: white;
  margin-top: 1em;
}
.DeepsSection #NumDeeps {
  font-weight: bold;
  width: 3em;
  display: inline-block;
  font-size: 18px;
  margin-left: .5em;
  margin-right: .1em;
  margin-top: .6em;
  text-align: right;
}

.DeepsSection img{
  border: none;
  margin-top: -9px;
  height: 35px;
  width: 35px;
}

.DeepsSection .hidedeeps{
  background-color: rgb(201,184,213);
}

.HeadAvatar{
  margin-top: 13px;
}
.HeadAvatar x-avatar {
  width: 80px;
}


.deconnexion{
  position: relative;
  display: inline-block;
  margin-left: 1070px;
  color: rgb(85,1,122);
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.connexion{
  position: relative;
  display: inline-block;
  color: rgb(85,1,122);
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
