.MenuNav {
  margin-top: 20px;
  font-size: 19px;
  font-weight: bold;
}

.MenuNav ul{
  margin: 0;
}

.MenuNav li a{
  display: inline-block;
  color: #430161;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}

@media (min-width: 992px) {
  .MenuNav li a{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.MenuNav .active a{
  background-color: white;
}



/* TopZone */

#headerZone .topZone{
  background-color: rgb(226,213,231);
}

#headerZone .topZone .button{
  display: inline-block;
  margin-top: 5px;
  text-align: center;
}
#headerZone .topZone .button button{
  display:block;
  width: 100%;
  height: 30px;
  background-color:rgb(85,1,122);
  border-radius:2px;
  border:1px solid rgb(67, 1, 97);
  color:#ffffff;
  text-decoration:none;
  text-shadow:0px 3px 26px rgb(67, 1, 97);
  font-weight: bold;
}
#headerZone .topZone .button button:hover {
  background-color: rgb(131, 1, 186);
}
#headerZone .topZone .button button:active {
  position:relative;
  top:1px;
}
#headerZone .topZone #buttonD{
  margin-top: 10px;
}

