.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 570px;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}
.modal ul{
  list-style: none;
  margin-top: 30px;
  margin-bottom: 10px;
}
.modal ul li{
  list-style: none;
}

.modal a{
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
  cursor: pointer;
}



.modal a:link{text-decoration: none;}
.modal a:visited{text-decoration: none;}
.modal a:hover{text-decoration: none;}
.modal a:active{text-decoration: none;}

/* Modal Content/Box */
.modal-content {
  /*background-color: #fefefe; */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* modal */

#headerZoneModal .modal{
  border: 3px solid rgb(85, 1, 122);
  width: 700px;
  margin-left: -400px;
}

#headerZoneModal .modal .header{
  background-color: rgb(85,1,122);
  width: 110%;
  height: 50px;
  color: white;
  padding-top: 15px;
}
#headerZoneModal .modal .header span{
  margin-left: -40px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

#headerZoneModal .modal .titleAnnonce {
  margin-top: 15px;
  float: left;
  margin-left: 22px;
}

#headerZoneModal #modalCreateDemande {
  padding-right: 0 !important;
}

#headerZoneModal .modal label {
  font-weight: bold;
}


#headerZoneModal .modal textarea{
  margin-top: 20px;
  width: 634px;
  height: 100px;
  resize:none;
}

#headerZoneModal .modal label{
  width: 20px;
  display: inline;
}
#headerZoneModal .modal .titlebox{
  margin-top: 30px;
  font-weight: bold;
}

#headerZoneModal .modal .boxFrame{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(226,213,231);
  text-align: left;
  position: relative;
  margin-top: 30px;
}

#headerZoneModal .modal .buttonFrame{
  margin-top: 156px;
}
#headerZoneModal .modal .buttonFrame button{
  background-color:rgb(85,1,122);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid rgb(67, 1, 97);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:10px 31px;
  text-decoration:none;
  text-shadow:0px 3px 26px rgb(67, 1, 97);
  font-weight: bold;
  width: 150px;
  margin-top: 15px;
}
#headerZoneModal .modal .buttonFrame button:hover {
  background-color: rgb(131, 1, 186);
}
#headerZoneModal .modal .buttonFrame button:active {
  position:relative;
  top:1px;
}

#headerZoneModal .modal .Urgence input[type="checkbox"] {
  margin-bottom: 10px;
}

#headerZoneModal .modal .Urgence #dt{
  margin-left: 30px;
}


#headerZoneModal .modal .SubInfos{
  margin-top: 20px;
}

#headerZoneModal .modal .SubInfos span{
  font-weight: bold;
}
#headerZoneModal .modal .Sub .buttonFrame{
  width: 400px;
  float: right;
}


#headerZone .modal .buttonFrame button[disabled]{
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}
#headerZone .modal .buttonFrame button[disabled]:hover {
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}
#headerZoneModal .modal .buttonFrame button[disabled]{
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}
#headerZoneModal .modal .buttonFrame button[disabled]:hover {
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}
