.actif .Nature input[type="checkbox"]{
  -webkit-appearance: radio; /* Chrome, Safari, Opera */
  -moz-appearance: radio; /* Firefox */
  -ms-appearance: radio; /* not currently supported */
}


.actif .logoMenu{
  background-image: url("../images/logo.jpg");
  position: relative;
  left: 0;
  width: 180px;
  height: 85px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 40px;
}


.actif .Pagination{
  width: 100%;
  height: 50px;
  padding-top: 16px;
  text-align: center;
  padding-bottom: 75px;
}


.actif .Pagination button{
  background-color: rgb(85, 1, 122);
  border-radius: 2px;
  border: 1px solid rgb(67, 1, 97);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 6px 21px;
  text-decoration: none;
  text-shadow: 0px 3px 26px rgb(67, 1, 97);
  font-weight: bold;
  margin-top: -14px;
  margin-right: -30px;
  width: 150px;
}

.actif .Pagination #ButtonP{
  margin-right: 40px;
}
.actif .Pagination #ButtonS{
  margin-left: 40px;
}


/* modal */

.actif .modal{
  border-style: solid;
  border-width: 3px;
  border-color: rgb(85,1,122);
  width: 700px;
  height: 400px;
  margin-left: -400px;
}

.actif .modal .header{
  background-color: rgb(85,1,122);
  width: 110%;
  height: 50px;
  color: white;
  padding-top: 15px;
}
.actif .modal .header span{
  margin-left: -40px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.actif .modal textarea{
  margin-top: 20px;
  width: 90%;
  height: 100px;
  resize:none;
}

.actif .modal label{
  width: 20px;
  display: inline;
}
.actif .modal .titlebox{
  margin-top: 30px;
  font-weight: bold;
}

.actif .modal .boxFrame{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(226,213,231);
  width: 360px;
  text-align: left;
  position: relative;
  margin-top: 30px;
}
.actif .modal .box{
  width: 165px;
}

.actif .modal .buttonFrame{
  margin-top: 50px;
}
.actif .modal .buttonFrame button{
  background-color:rgb(85,1,122);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid rgb(67, 1, 97);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:10px 31px;
  text-decoration:none;
  text-shadow:0px 3px 26px rgb(67, 1, 97);
  font-weight: bold;
  width: 150px;
  margin-top: 15px;
}
.actif .modal .buttonFrame button[disabled]{
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}
.actif .modal .buttonFrame button[disabled]:hover {
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}

.actif .modal .buttonFrame button:hover {
  background-color: rgb(131, 1, 186);
}
.actif .modal .buttonFrame button:active {
  position:relative;
  top:1px;
}

.actif .modal .Urgence{
  margin-left: -260px;
}

.actif .modal .Urgence input[type="text"]{
  width: 100px;
}
.actif .modal .Urgence #dt{
  margin-left: 30px;
}

.actif #modalClose .TitleTextArea{
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 20px;
}

.actif #modalClose .buttonFrame,
#modalEval .buttonFrame {
  margin-left: 342px;
  width: 350px;
}

/* Vote */
.evalZone{
  margin-left: -200px;
  margin-top: 30px;
}
.evalZone .TitleEval{
  font-weight: bold;
  font-size: 20px;
}


.actif .rating {
  width: 226px;
  font-size: 45px;
  overflow:hidden;
  margin-left: -70px;
}
.actif .rating a {
  float:right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
  padding: 0;
  font-size: 34px;
}
.actif .rating a:hover,
.actif .rating a:hover ~ a,
.actif .rating a:focus,
.actif .rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}


input[type="date"]{
  height: 28px;
}

@media screen and (min-width: 1200px) and (max-width: 1600px){
  .RepeatItems{
    padding-bottom: 15px;
  }
}
