.formConnexion{
  text-align: center;
  padding-top: 30px;
  width: 300px;
  margin: auto;
}

.CadreConnexion{
  text-align: center;
}

input[type="password"]{
  height: 34px;
  padding: 6px 12px;
}

.formConnexion input[type="submit"]{
  background-color: #55017a;
  border-radius: 2px;
  border: 1px solid #430161;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 3px 26px #430161;
  font-weight: 700;
}
