.item{
  height: 180px;
  margin-bottom: 10px;
  border-radius:2px;
  border-top:1px solid rgb(166, 138, 171);
}
.itemslist .item x-avatar {
  margin-top: 15px;
}

.itemslist .item .LeftZone{
  text-align: center;
}
.itemslist .item .LeftZone .PseudoInitiateur{
  font-weight: bold;
}


.itemslist .item .MidZone .arrow{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-top: 4px;
}

.itemslist .item .MidZone .date{
  font-size: 15px;
  font-weight: 600;
}

.itemslist .item .MidZone .ZoneText {
  margin-top: 10px;
  height: 110px;
  background-color: rgb(245, 245, 245);
  word-wrap: break-word;
  overflow: auto;
}
.itemslist .item .MidZone .ZoneText .content{
  overflow:hidden;
}

.ZoneText p {
  margin-top: 10px;
  margin-left: 10px;
}

.itemslist .item .MidZone .testthemes:last-of-type span{
  color: #ffffff !important;
}

.itemslist .item .MidZone .labelthemes{
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}
.itemslist .item .MidZone .themes{
  display: inline-block;
}

.itemslist .item .MidZone .Itemthemes {
  font-size: 12px;
  font-weight: 600;
  margin-left: 6px;
  color: #8685A2;
}

.itemslist .item .RightZone .NbPartage {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1200px) {
  .itemslist .item .RightZone .NbPartage {
    margin-top: 80px;
  }
}

.itemslist .item .RightZone .AverageEval {
  float: right;
  margin-top: -60px;
}

.itemslist .item .RightZone .DemandeButton {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 35px;
  background-color: rgb(28, 57, 122);
  color: #FFFFFF;
  border-radius: 5px;
  border-style: none;
}
.itemslist .item .RightZone .DemandeButton:hover {
  background-color: rgb(46, 88, 192);
}

.itemslist .item .RightZone .OffreButton {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 35px;
  background-color: #735751;
  color: #FFFFFF;
  border-radius: 5px;
  border-style: none;
}
.itemslist .item .RightZone .OffreButton:hover{
  background-color: #af867b;
}

.itemslist .item .RightZone .chevron{
  font-size: 23px;
}
.itemslist .item .RightZone .ActionButton button{
  margin-bottom: 20px;
}

.itemslist .item .MidZone .arrow .natureMEI {
  color: #ffffff;
  float: left;
  font-size: 15px;
  margin-left: 10px;
}

.itemslist .item .MidZone .ZoneText p {
  margin-top: 10px;
  margin-left: 10px;
}

.itemslist .item .RightZone .imageNature img {
  margin-top: 30px;
}

.itemslist .item .RightZone .imageNature{
  text-align: center;
}


.itemslist .item .RightZone .etat .new {
  background-color: yellow;
  width: 80px;
  text-align: center;
  font-weight: bold;
  float: right;
  margin-top: -130px;
}

.itemslist .item .RightZone .etat .statut {
  background-color: #FFFFFF;
  color: rgb(85, 1, 122);
  width: 120px;
  text-align: center;
  font-weight: bold;
  height: 30px;
  padding-top: 5px;
  margin-top: 15px;
}

.itemslist .item .RightZone .boutonAnnonce {
  background-color: rgb(85, 1, 122);
  border-radius: 2px;
  border: 1px solid rgb(67, 1, 97);
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 6px;
  text-decoration: none;
  text-shadow: 0px 3px 26px rgb(67, 1, 97);
  font-weight: bold;
  width: 100%;
  max-width: 100px;
}

.itemslist .item .RightZone .PseudoSuiveur{
  font-weight: bold;
  display: block;
}

.itemslist .item .MidZone .arrow .nature{
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}
.itemslist .item .MidZone .arrow .titleA{
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 10px;
}

.itemslist .item .RightZone .etat .urgent {
  color: #ff0011;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  height: 30px;
  padding-top: 5px;
}

.itemslist .item .RightZone .etat .disponible {
  color: #007a02;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  height: 30px;
  padding-top: 5px;
}
.itemslist .item .RightZone .etat .partage {
  background-color: #FFFFFF;
  color: rgb(85, 1, 122);
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  height: 30px;
  padding-top: 5px;
}

.itemslist .item .RightZone .etat .dateUrgence {
  font-weight: bold;
  margin-left: 10px;
}

.itemslist .item .RightZone button:hover {
  background-color: rgb(131, 1, 186);
}
.itemslist .item .RightZone button:active {
  position:relative;
  top:1px;
}

.GreenArrow{
  background-color: #735751;
}
.BlueArrow{
  background-color: rgb(28, 57, 122);
}
.PurpleArrow{
  background-color: rgb(85, 1, 122);
}
