/* section 1 */
.home .section1{
  height: 550px;
  position: relative;
  filter: alpha(opacity=60);
  padding-left: 0;
  text-align: center;
}
.home #background {
  position: absolute;
  background-image: url("../images/MainBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.51;
}

.home .section1 #element1{
  position: relative;
  width: 55%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.home .section1 #element1 #text1{
  font-weight: bold;
  color: black;
  font-size: 18pt;
}

.home .section1 #element2{
  position: relative;
  margin: auto;
  padding-top: 80px;
}

.home .section1 #element2 .text{
  font-size: 25pt;
  color: black;
  font-weight: bold;
  padding-bottom: 80px;
  line-height: 1em;
  cursor: pointer;
}

/* section 2 */
.home .section2{
  background-color: rgb(226,213,231);
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.home #TitleSection2{
  font-size: 36.00pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: rgb(82,100,111);
  line-height: 62.18pt;
}

.home #SubTitleSection2{
  font-size: 18.00pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: rgb(82,100,111);
  line-height: 21.60pt;
  letter-spacing: normal;
}

.home #TextSection2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11.25pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgb(82,100,111);
  line-height: 15.75pt;
  letter-spacing: normal;
  width: 70%;
  margin: auto;
  padding-bottom: 25px;
}

/* section 3 */
.home .section3{
  background-color: rgb(201,184,213);
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.home #TitleSection3{
  font-size: 36.00pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: rgb(82,100,111);
  line-height: 62.18pt;
}
.home #SubTitleSection3{
  font-size: 18.00pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: rgb(82,100,111);
  line-height: 21.60pt;
  letter-spacing: normal;
}
.home #TextSection3{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11.25pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgb(82,100,111);
  line-height: 15.75pt;
  letter-spacing: normal;
  width: 70%;
  margin: auto;
  padding-bottom: 25px;
}
