.MenuLeft{
  background-color: rgb(226,213,231);
  margin-bottom: 6px;
}
.MenuLeft #TopFilter{
  text-align: center;
  color: rgb(85,1,122);
  font-weight: bold;
  margin-top: 10px;
}

.MenuLeft .Separate{
  border:1px solid rgb(67, 1, 97);
  width: 100%;
  margin-top: 10px;
}
.MenuLeft .light{
  opacity: 0.5;
}

.MenuLeft #NatureTitle{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.MenuLeft #NatureCheckbox{
  margin-top: 5px;
}

.MenuLeft #UrgenceTitle{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.MenuLeft #UrgenceCheckbox{
  margin-top: 5px;
}

.MenuLeft #ThemesTitle{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.MenuLeft #ThemesCheckbox{
  margin-top: 5px;
  margin-bottom: 15px;
}
.MenuLeft .Themesitems{
  width: 100%;
}

