.profil .topZone{
  position: relative;
  background-color: rgb(226,213,231);
  height: 80px;
}
.profil .topZone p{
  font-size: 22.50pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: rgb(85,1,122);
  line-height: 35.63pt;
  letter-spacing: normal;
  padding-left: 15px;
  padding-top: 15px;
}

.profil .items{
  position: relative;
}

.profil .items .zone1 .ZoneAvatar {
  display: inline-block;
  margin-top: 30px;
}

.profil .items .zone1 .ZoneAvatar x-avatar {
  width: 135px;
}
.profil .items .zone1 .ZoneAvatar a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  line-height: 19.23pt;
  font-size: 11.25pt;
  cursor: pointer;
}
.profil .items .zone1 .FormProfil{
  margin-top: 30px;
}
.profil .items .zone1 .FormProfil .require{
  color: red;
}
.profil .items .zone1 .nbDeeps{
  font-weight: bold;
}
.profil .items .zone1 #deepZone{
  margin-top: 30px;
}
.profil .items .zone1 #deepZone span{
  color: rgb(85,1,122);
}

.profil .items .zone1 .FormProfil #availabledate p{
  display: inline-block;
}
.profil .items .zone1 .FormProfil #availabledate input{
  width: 90px;
  float: none;
}
.profil .items .zone1 .FormProfil #availabledate label{
  margin-right: 10px;
}



.profil .items .zone2{
  margin-top: 30px;
}
.profil .items .zone2 .headLine {
  border-top-color: #aa72a7;
  border-top-style: solid;
  border-top-width: 1px;
}
.profil .items .zone2 .FormZone2 .MediaCheck{
  border-color: rgb(166, 138, 171);
  border-style: solid;
  border-width: 1px;
  margin-left: 15px;

  padding-top: 10px;
  padding-bottom: 5px;
}
.profil .items .zone2 .FormZone2 #TitleMedia{
  font-weight: bold;
  margin-top: 30px;
}
.profil .items .zone2 .FormZone2 .MediaCheck p{
  display: inline-block;
  margin-top: 15px;
  margin-left: 25px;
}
.profil .items .zone2 .FormZone2 label {
  display: inline-block;
  margin-left: 5px;
}
.profil .items .zone2 .FormZone2 input{
  float: left;
}
.profil .items .zone2 .FormZone2 #TitleFavoriteDate{
  font-weight: bold;
  margin-top: 30px;
}
.profil .items .zone2 .FormZone2 textarea{
  width: 100%;
  resize:none;
}

.zone3{
  margin-bottom: 20px;
}

.profil .items .zone3 .FormZone3 .frame{
  border-color: rgb(166, 138, 171);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
}

.profil .items .zone3 .FormZone3 #TitleSites{
  font-weight: bold;
  margin-top: 15px;
}
.profil .items .zone3 .FormZone3 .SitesCheckP1{
  margin-left: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.profil .items .zone3 .FormZone3 .SitesCheckP1 p{
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 0
}
.profil .items .zone3 .FormZone3 label {
  display: inline-block;
  margin-left: 5px;
}
.profil .items .zone3 .FormZone3 input{
  float: left;
}
.profil .items .zone3 .FormZone3 .SitesCheckP2{
  margin-left: 20px;
  margin-bottom: 10px;
}
.profil .items .zone3 .FormZone3 .SitesCheckP2 p{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0
}
.profil .items .zone3 .FormZone3 label {
  display: inline-block;
  margin-left: 5px;
}
.profil .items .zone3 .FormZone3 input{
  float: left;
}


/*submitButton */
.submitButton{
  float: right;
  border: 0;
  background-color: rgb(85,1,122);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10.50pt;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 12.82pt;
  letter-spacing: normal;
  text-indent: 0;
  text-align: center;
  word-wrap: break-word;

  right: 60px;
  bottom: 40px;
  position: fixed;

  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px !important;
  transition: 300ms;
}
.submitButton  input[type="submit"]{
  width: 130px;
}


.submitButton:hover {
background-color: rgb(123, 1, 174);
}

.profil .modal{
  border: none;
  box-shadow: none;

  background-color: transparent;
  width: 660px;
  height: 660px;
}
.profil .modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 3px solid rgb(85,1,122);
  width: 80%;
  border-radius: 0px;
}
.profil .modal-body {
  position: relative;
  max-height: none;
  padding: 15px;
  overflow-y: visible;
  margin-left: 20px;
}

.modal h4{
  color: rgb(85,1,122);
}
#AvatarModal img {
  width: 90px;
  height: 80px;
  cursor: pointer;
}

#AvatarModal .selected {
  border: 3px solid rgb(85,1,122);
}

#AvatarModal .col-lg-3{
  padding-right: 2px;
  padding-left: 2px;
}

#AvatarModal .ValidButton{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7E00B5;
  background-image: linear-gradient(to bottom, #7E00B5, #55017A);
  background-repeat: repeat-x;
  border-color: #9D00E0 #7E00B5 #55017A;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.SuccessNotif {
  background-color: #33af2f;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #247921;
}

.ErrorNotif {
  background-color: #af0007;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7c0006;
}

.invalidfield{
  border-color: red;
}

.avertissement{
  width: 200px;
  right: 25px;
  bottom: 130px;
  position: fixed;
  text-align: justify;
  color: #af0007;
}


@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .avertissement {
    right: 25px;
  }
}
