

.recherche .Nature input[type="checkbox"]{
  -webkit-appearance: radio; /* Chrome, Safari, Opera */
  -moz-appearance: radio; /* Firefox */
  -ms-appearance: radio; /* not currently supported */
}

.recherche .logoMenu{
  background-image: url("../images/logo.jpg");
  position: relative;
  left: 0;
  width: 180px;
  height: 85px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 40px;
}

.recherche .Pagination{
  width: 100%;
  height: 50px;
  padding-top: 28px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 75px;
  margin-left: -60px;
}


.recherche .Pagination button{
  background-color: rgb(85, 1, 122);
  border-radius: 2px;
  border: 1px solid rgb(67, 1, 97);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 6px 21px;
  text-decoration: none;
  text-shadow: 0px 3px 26px rgb(67, 1, 97);
  font-weight: bold;
  margin-top: -14px;
  margin-right: -30px;
  width: 150px;
}

.recherche .Pagination #ButtonP{
  margin-right: 40px;
}
.recherche .Pagination #ButtonS{
  margin-left: 40px;
}


.recherche .rating {
  font-size: 45px;
  overflow:hidden;
}

.recherche .rating a {
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
  padding: 0;
  font-size: 20px;
  cursor: default;
}

.ORangeStar {
  color: orange !important;
}


.GreenArrow{
  background-color: #735751;
}
.BlueArrow{
  background-color: rgb(28, 57, 122);
}



/* modal */

.recherche .modal{
  border-style: solid;
  border-width: 3px;
  border-color: rgb(85,1,122);
  width: 700px;
  height: 300px;
  margin-left: -400px;
}

.recherche .modal .header{
  background-color: rgb(85,1,122);
  width: 110%;
  height: 50px;
  color: white;
  padding-top: 15px;
}
.recherche .modal .header span{
  margin-left: -40px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.recherche .modal textarea{
  margin-top: 20px;
  width: 90%;
  height: 100px;
  resize:none;
}

.recherche .modal label{
  width: 20px;
  display: inline;
}
.recherche .modal .titlebox{
  margin-top: 30px;
  font-weight: bold;
}

.recherche .modal .boxFrame{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(226,213,231);
  width: 360px;
  text-align: left;
  position: relative;
  margin-top: 30px;
}
.recherche .modal .box{
  width: 165px;
}

.recherche .modal .buttonFrame{
  margin-left: 15px;
}
.recherche .modal .buttonFrame button{
  background-color:rgb(85,1,122);
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid rgb(67, 1, 97);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:10px 31px;
  text-decoration:none;
  text-shadow:0px 3px 26px rgb(67, 1, 97);
  font-weight: bold;
  width: 150px;
  margin-top: 15px;
}
.recherche .modal .buttonFrame button:hover {
  background-color: rgb(131, 1, 186);
}
.recherche .modal .buttonFrame button:active {
  position:relative;
  top:1px;
}

.recherche .modal .Urgence{
  margin-left: -260px;
}

.recherche .modal .Urgence input[type="text"]{
  width: 100px;
}
.recherche .modal .Urgence #dt{
  margin-left: 30px;
}


.recherche .modal .SubInfos{
  margin-top: 20px;
}

.recherche .modal .SubInfos span{
  font-weight: bold;
}
.recherche .modal .Sub .buttonFrame{
  width: 400px;
  float: right;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.InfosPosition{
  text-align: center;
}

@media (min-width: 1200px) {
  .InfosPosition{
    margin-top: 15px;
  }
}
