.searchbox {
  position: relative;
}

.searchbox .form-control {
  height: 50px;
  margin-top: 25px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.searchbox .close {
  position: absolute;
  top: 25px;
  right: 5px;
}
