@import "header/header.css";

body{overflow-x: hidden;}

.disabled{
  color: red;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;
}

pre{
  border: none !important;
  color: #737373 !important;
  background-color: transparent !important;
  font-family: Georgia, “Times New Roman”, serif !important;
  font-weight: 600 !important;
}

.row-15 {
  margin-left: -15px;
  margin-right: -15px;
}

.row-15::before,
.row-15::after {
  display: table;
  content: " ";
}

.row-15::after {
  clear: both;
}


button[disabled]{
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}
button[disabled]:hover {
  background-color: rgb(164, 157, 157);
  border: 1px solid rgb(104, 97, 97);
}


.purple{
background-color: rgb(201,184,213);
}

#searchBar{
  float: right;
  width: 300px;
}

.footer{
  position: fixed;
  bottom: 0;
  color: white;
  background-color: #20293F;
  left: 0;
  width: 100%;
}
.footer p{
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

button[disabled]{
  background-color: #BDC3C7 !important;
  border-color: #FFFFFF !important;
  text-shadow: 0px 0px 0px rgb(84, 82, 85) !important;
  pointer-events: none;
}

input[type="date"]{
  height: 28px;
}

.notifyTheme {
  background-color: #0e90d2;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #064667;
}


.SuccessNotif {
  background-color: #00d220;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #007d14;
}

.ErrorNotif {
  background-color: #d2000e;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #800009;
}
