<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Partage'On</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.css" />
      <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css" />
      <link rel="stylesheet" href="bower_components/ng-notify/src/styles/ng-notify.css" />
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="styles/searchbox.css" />
    <link rel="stylesheet" href="styles/menuleft.css" />
    <link rel="stylesheet" href="styles/itemlist.css" />
    <link rel="stylesheet" href="styles/recherche.css">
    <link rel="stylesheet" href="styles/monprofil.css">
    <link rel="stylesheet" href="styles/connexion.css">
    <link rel="stylesheet" href="styles/archive.css">
    <link rel="stylesheet" href="styles/actif.css">
    <link rel="stylesheet" href="styles/main.css">
      <!-- endbuild -->
      <script src="bower_components/webcomponentsjs/webcomponents-loader.js" async="async"></script>
      <link rel="import" href="views/x-avatar.html" />
  </head>
  <body ng-app="partageonApp" ng-controller="MainCtrl">
      <!--[if lte IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="row" ng-init="enableTitle()">

        <div class="head row-fluid">

          <a href="#/" class="logo col-xs-6 col-sm-offset-1 col-sm-3"></a>

          <div class="col-sm-4 col-xs-6 col-md-offset-1 col-md-3 HeadTitle">
            <span ng-click="testDeep()">Partage'On</span>
          </div>

          <div class="col-xs-offset-2 col-xs-4 col-sm-offset-1 col-sm-2">
            <div class="text-right DeepAndConnexion">
              <div class="DeepsSection"
                  ng-class="{'purple': $storage.fedUserId == null || $storage.deeps.total == null}">
                <div ng-if="$storage.deeps.total != null">
                  <div id="NumDeeps">{{$storage.deeps.total}}</div>
                  <img src="./images/Deep_logo.png" alt="deeps"
                      ng-if="$storage.fedUserId != null">
                </div>
              </div>
              <br />

              <div class="connexion">
                <span
                  ng-if="$storage.fedUserId == null "
                  ng-click="connexion()" translate>Connexion</span>
                <span
                  ng-if="$storage.fedUserId != null "
                  ng-click="deco()" translate>Déconnexion</span>
              </div>

              <div class="LanguageSection">
                <span data-ng-controller="TranslationController">
                  <a href="javascript:" data-ng-click="changeLanguage('fr')">
                    <img src="./images/flag/fr.png" alt="fr">
                  </a>
                  <a href="javascript:" data-ng-click="changeLanguage('en')">
                    <img src="./images/flag/gb.png" alt="en">
                  </a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-sm-1 HeadAvatar">
            <a href="#/monprofil" class="active">
              <x-avatar url="{{ENV.prefix + '/user/avatar/' + $storage.fedUserId + '?t='+$storage.random}}"></x-avatar>
            </a>
          </div>
        </div>
      </div>

      <div id="headerZone">
        <div class="row">
          <div class="row-fluid topZone">
           <div class="MenuNav col-xs-9 col-md-offset-3 col-md-7 col-lg-offset-4 col-lg-6">
              <ul bs-active-link class="list-inline">
                <li>
                  <a ng-href="{{menuPath}}/recherche" translate>
                    Recherche
                  </a>
                </li>
                <li>
                  <a ng-href="{{menuPath}}/actif"
                     ng-class="{disabled: !$storage.pseudo}" translate>
                    Mes En-cours
                  </a>
                </li>
                <li>
                  <a ng-href="{{menuPath}}/archive"
                     ng-class="{disabled: !$storage.pseudo}" translate>
                    Mes Archives
                  </a>
                </li>
                <li>
                  <a ng-href="{{menuPath}}/monprofil"
                     ng-class="{disabled: !$storage.pseudo}" translate>
                    Mon Profil</a>
                </li>
              </ul>
            </div>

            <div class="col-xs-3 col-md-2 button">
              <button ng-disabled="$storage.pseudo == null" id="buttonO"
                      data-toggle="modal" data-target="#modalCreateOffre" translate>
                Créer une offre
              </button>
              <button ng-disabled="$storage.pseudo == null" id="buttonD"
                      data-toggle="modal" data-target="#modalCreateDemande" translate>
                Créer une demande
              </button>
            </div>
           </div>
        </div>
      </div>

      <div ng-view></div>

      <div class="row">
        <div class="footer col-lg-12">
            <p>PartageOn</p>
        </div>
      </div>


      <div id="headerZoneModal">

      <!--modal create offre -->

      <div id="modalCreateOffre" class="modal" data-backdrop="static">
        <div class="header">
          <span translate>Je crée mon offre</span>
        </div>
        <form>

          <div class="titleAnnonce">
            <label>
              <span translate>Titre</span>:
            </label>
            <label>
              <input ng-model="CreateOffre.title" type="text" name="titre" maxlength="30">
            </label>
          </div>

          <div class="ZoneTextarea col-lg-12">
            <label>
              <textarea ng-model="CreateOffre.commentaire"></textarea>
            </label>
          </div>

          <div class="row-fluid">
            <div class="col-sm-9">
              <div class="row">
                <div class="titlebox col-sm-3">
                  <label>
                    <span translate>Thèmes</span>:
                  </label>
                </div>

                <div class="boxFrame col-sm-9">
                  <div class="row">
                    <div ng-repeat="e in themes" class="box col-sm-6">
                      <label>
                        <input type="checkbox"
                              ng-model="e.selected"
                              data-ng-true-value="'{{e.name}}'"
                              data-ng-false-value="''"/>
                        {{e.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="titlebox col-sm-3">
                  <label for="tag_0">
                    <span translate>Tags</span>:
                  </label>
                </div>

                  <div class="boxFrame col-sm-9 tagbox">
                    <div class="row">
                      <div class="col-sm-4">
                        <input type="text" maxlength="64" name="tag_0" ng-model="tag.tag_0" id="tag_0" class="form-control" />
                      </div>
                      <div class="col-sm-4">
                        <input type="text" maxlength="64" name="tag_1" ng-model="tag.tag_1" id="tag_1" class="form-control" />
                      </div>
                      <div class="col-sm-4">
                        <input type="text" maxlength="64" name="tag_2" ng-model="tag.tag_2" id="tag_2" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="buttonFrame col-sm-3">
              <button type="button"
                      ng-click="createOffre(CreateOffre ,themes, tag)" data-dismiss="modal"
                      ng-disabled="!CreateOffre.commentaire" translate>
                Créer
              </button>
              <br />
              <button type="button" data-dismiss="modal" translate>
                Annuler
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- modal create demande -->
        <div id="modalCreateDemande" class="modal" data-backdrop="static">
          <div class="header">
            <span translate>Je crée ma demande</span>
          </div>
          <form>

            <div class="row">
              <div class="titleAnnonce" style="margin-left: 45px">
                <label>
                  <span translate>Titre</span>:
                </label>
                <label>
                  <input ng-model="CreateDemande.title" type="text" name="titre" maxlength="30">
                </label>
              </div>
            </div>

            <div class="row">
              <div class="ZoneTextarea col-lg-12">
                <label>
                  <textarea ng-model="CreateDemande.commentaire"></textarea>
                </label>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="col-xs-12 text-left Urgence">
                <label>
                  <input type="checkbox" name="urgent" ng-model="urgent.urgence" ng-change="Urgentcheck(urgent)"/>
                  <span translate>Urgent</span> ?
                </label>
                <label id="dt">
                  <span translate>Pour le</span>:
                  <input type="date" ng-model="urgent.dt" ng-change="UrgentDt(urgent)"/>
                </label>
                <br/>
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-sm-9">
                <div class="row">
                  <div class="titlebox col-sm-3"><span translate>Thèmes</span>:</div>

                  <div class="boxFrame col-sm-9">
                    <div ng-repeat="e in themes" class="box col-sm-6">
                      <label>
                        <input type="checkbox" name="{{e.name}}" ng-model="e.selected"
                              data-ng-true-value="'{{e.name}}'" data-ng-false-value="''"/>
                        {{e.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <br />

                <div class="row">
                  <div class="titlebox col-sm-3">
                    <label>
                      <span translate>Tags</span>:
                    </label>
                  </div>

                  <div class="boxFrame col-sm-9 tagbox">
                    <div class="row">
                      <div class="col-sm-4">
                        <input type="text" maxlength="64" name="tag_0" ng-model="tag.tag_0" id="tag_0" class="form-control" />
                      </div>
                      <div class="col-sm-4">
                        <input type="text" maxlength="64" name="tag_1" ng-model="tag.tag_1" id="tag_1" class="form-control" />
                      </div>
                      <div class="col-sm-4">
                        <input type="text" maxlength="64" name="tag_2" ng-model="tag.tag_2" id="tag_2" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="buttonFrame col-sm-3">
                <button type="button"
                        ng-click="createDemande(CreateDemande, themes, urgent, tag)"
                        data-dismiss="modal" ng-disabled="!CreateDemande.commentaire">
                  <span translate>Créer</span>
                </button>
                <button type="button" data-dismiss="modal">
                  Annuler</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <!-- build:js(.) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/ngstorage/ngStorage.js"></script>
      <script src="bower_components/checklist-model/checklist-model.js"></script>
      <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.js"></script>
      <script src="bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
      <script src="bower_components/ng-notify/src/scripts/ng-notify.js"></script>
      <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
      <script src="bower_components/shadycss/scoping-shim.min.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/app.js"></script>
      <script src="scripts/services/mediaService.js"></script>
      <script src="scripts/services/ProfilService.js"></script>
      <script src="scripts/services/AuthService.js"></script>
      <script src="scripts/services/TranslationService.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/monprofile.js"></script>
      <script src="scripts/controllers/connexion.js"></script>
      <script src="scripts/controllers/ranking.js"></script>
      <script src="scripts/controllers/recherche.js"></script>
      <script src="scripts/controllers/actif.js"></script>
      <script src="scripts/controllers/archive.js"></script>
      <script src="scripts/controllers/TranslationController.js"></script>
      <!-- endbuild -->
      <script src="translation/en.js"></script>
      <script src="scripts/config.js"></script>

</body>
</html>
