
<section class="actif" ng-init="startVerif(); enableTitle()">

  <div class="row">
    <div class="col-sm-12 col-md-offset-1 col-md-10">
      <div class="col-sm-4 col-md-2">
        <a href="#/" class="logoMenu col-sm-2"></a>
      </div>
      <div class="col-sm-offset-1 col-sm-7">
      <div class="searchbox">
        <input type="text" ng-model="searchBox" placeholder="{{'Recherche'|translate}}..." class="form-control" />
        <button class="close" ng-click="searchBox = null">&times;</button>
      </div>
      </div>
    </div>
  </div>

  <!-- Menu Left -->
  <div class="row">

    <!-- Corp -->

    <div class="col-sm-12 col-md-offset-1 col-md-10">
      <div class="MenuLeft col-sm-2">

        <div id="TopFilter">
          <span translate>Filtres</span>
        </div>
        <div class="Separate"></div>

        <div class="Nature">
          <div id="NatureTitle">
            <span translate>Nature</span>
          </div>

          <div id="NatureCheckbox">
            <form name="formFiltreAnnonces"
                  ng-click="FilterType(search.nature)">
              <label>
                <input id="Offres" type="checkbox" name="Offres"
                       data-ng-true-value="'OFFRE'"
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Offres</span>
              </label>
              <label>
                <input id="Demandes" type="checkbox" name="Demandes"
                       data-ng-true-value="'DEMANDE'"
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Demandes</span>
              </label>
              <label>
                <input id="Tous" type="checkbox" name="tous"
                       data-ng-true-value=""
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Tous</span>
              </label>
            </form>
          </div>
        </div>

        <div class="Separate light"></div>

        <div class="Urgence">
          <div id="UrgenceTitle">
            <span translate>Urgence</span>
          </div>

          <div id="UrgenceCheckbox">
            <label>
              <input id="Solicitations" type="checkbox" name="Solicitations"
                     data-ng-model="search.urgence.urgence"
                     data-ng-true-value='true'
                     data-ng-false-value=''
                     ng-click="FilterURgent(search.urgence.urgence)"/>
              <span translate>Solicitations urgentes</span>
            </label>
          </div>
        </div>

        <div class="Separate light"></div>

        <div class="Themes">
          <div id="ThemesTitle">
            <span translate>Thèmes</span>
          </div>

          <div id="ThemesCheckbox">
            <div class="row">
              <div class="col-sm-3 Themesitems" ng-repeat="t in themes">
                <label>
                  <input name="{{t.name}}" type="checkbox"
                         data-ng-true-value="'{{t.name}}'"
                         data-ng-model="SearchTheme.themes"
                         data-ng-false-value=""
                         ng-click="FilterTheme(SearchTheme.themes)"/>
                  {{t.name|translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="itemslist col-sm-10">
        <div class="col-sm-12 RepeatItems"
              ng-repeat="i in AnnonceItems | orderBy: 'alldate':true | startFrom:currentPage*pageSize | limitTo:pageSize | filter: {nature: search.nature} | filter:search.urgence.urgence | filter:SearchTheme.themes | filter:searchBox | filter:q">
          <div class="item">
            <div class="LeftZone col-sm-2">
              <div class="col-md-12">
                <x-avatar url="{{ENV.prefix + '/user/avatar/' + i.initiateur.fedUserId}}"></x-avatar>
                <br />
                <span class="PseudoInitiateur"> {{i.initiateur.pseudo}} </span>
              </div>
            </div>

            <div class="MidZone col-sm-7">
              <div class="arrow"
                    ng-class="{'GreenArrow': i.nature == 'OFFRE' && i.suiveur == null, 'BlueArrow': i.nature == 'DEMANDE' && i.suiveur == null, 'PurpleArrow': i.suiveur != null}">
                <span class="nature" ng-if="i.suiveur == null"> {{i.nature|translate}} : </span>

                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.initiateur.pseudo && i.nature == 'DEMANDE'">
                  <span translate>Votre demande à été accepté par</span>
                  <span style="font-weight: bold">{{i.suiveur.pseudo}} : </span>
                </span>
                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.initiateur.pseudo && i.nature == 'OFFRE'">
                  <span translate>Votre offre à été accepté par</span>
                  <span style="font-weight: bold">{{i.suiveur.pseudo}} : </span>
                </span>

                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.suiveur.pseudo && i.nature == 'DEMANDE'">
                  <span translate>Vous avez accepté la demande de</span>
                  <span style="font-weight: bold">{{i.initiateur.pseudo}} : </span>
                </span>
                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.suiveur.pseudo && i.nature == 'OFFRE'">
                  <span translate>Vous avez accepté l'offre de</span>
                  <span style="font-weight: bold">{{i.initiateur.pseudo}} : </span>
                </span>

              <span class="titleA">{{i.title}}</span>
              </div>


              <div class="ZoneText">
                <div class="content">
                  <pre>{{i.commentaire}}</pre>
                </div>
              </div>

              <div class="row-15">
                <span class="col-sm-3 pull-right text-right date" ng-if="i.suiveur == null">{{i.postDate}}</span>
                <span class="col-sm-3 pull-right text-right date" ng-if="i.suiveur != null">{{i.matchdate}}</span>

                <div class="themesZone col-sm-9" ng-if="i.themeList.length">
                  <div class="labelthemes"><span translate>Thèmes</span>: </div>
                  <div ng-repeat="AnnonceThemes in i.themeList" class="themes testthemes">
                    <div class="Itemthemes">{{AnnonceThemes.name |translate}}<span>/</span></div>
                  </div>
                </div>

                <div class="themesZone col-sm-9" ng-if="i.tagList.length">
                  <div class="labelthemes"><span translate>Tags</span>: </div>
                  <div ng-repeat="AnnonceThemes in i.tagList" class="themes testthemes">
                    <div class="Itemthemes">{{AnnonceThemes.name}} <span>/</span></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="RightZone col-sm-3">
              <div class="row-15 text-center">
                <div class="imageNature col-lg-6">
                  <div ng-show="i.suiveur != null">
                    <div class="col-md-12">
                      <x-avatar url="{{ENV.prefix + '/user/avatar/' + i.suiveur.fedUserId}}"></x-avatar>
                      <br />
                      <span class="PseudoSuiveur">{{i.suiveur.pseudo}}</span>
                    </div>
                  </div>
                </div>

                <div class="row-15 col-lg-6 StateAndButton">
                  <div class="etat">
                    <div class="urgent"
                          ng-if="i.urgence.urgence == true && i.miseEnRelationId == null">
                      <span translate>URGENT</span>!
                    </div>
                    <div class="dateUrgence"
                          ng-if="i.urgence.urgence == true && i.miseEnRelationId == null">
                      {{i.urgence.urgencedate}}
                    </div>
                    <div class="disponible" ng-if="i.urgence.urgence == false && i.miseEnRelationId == null">
                      <span translate>DISPONIBLE</span>
                    </div>
                    <div class="partage" ng-if="i.suiveur != null && i.evaluation == null">
                      <span translate>PARTAGÉE</span>
                    </div>
                    <div class="partage" ng-if="i.suiveur != null && i.evaluation != null">
                      <span translate>ÉVALUÉ</span>
                    </div>
                  </div>

                  <div class="ActionButton" ng-show="i.suiveur == null">
                    <button class="boutonAnnonce" type="button"
                            data-toggle="modal"
                            data-target="#modalModif"
                            ng-show="i.nature == 'OFFRE' || 'DEMANDE'"
                            ng-click="MynatureID(i.nature, i.themes); annonceID(i.annonceId, i.commentaire)">
                      <span translate>Modifier</span>
                    </button>
                    <button class="boutonAnnonce" type="button"
                            ng-show="i.nature == 'OFFRE' || 'DEMANDE'"
                            ng-click="annonceID(i.annonceId); close()">
                      <span translate>Désactiver</span>
                    </button>
                  </div>

                  <div class="ActionButton" ng-show="i.suiveur != null ">
                    <div ng-if="i.evaluation == null ">
                      <button class="boutonAnnonce" type="button"
                              data-toggle="modal"
                              data-target="#modalEval"
                              ng-click="MiseEnRId(i.miseEnRelationId)"
                              ng-if="(i.nature == 'OFFRE' && $storage.pseudo == i.suiveur.pseudo) || (i.nature == 'DEMANDE' && $storage.pseudo == i.initiateur.pseudo)">
                        <span translate>Evaluer</span>
                      </button>
                    </div>
                    <div>
                      <button class="boutonAnnonce" type="button"
                              ng-click="MiseEnRId(i.miseEnRelationId);"
                              ng-if="i.evaluation == null"
                              data-toggle="modal"
                              data-target="#modalClose">
                        <span translate>Abandonner</span>
                      </button>
                      <button class="boutonAnnonce" type="button"
                              ng-click="MiseEnRId(i.miseEnRelationId); archiveMIE()"
                              ng-if="i.evaluation != null">
                        <span translate>Archiver</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Pagination col-sm-12">
          <div class="PaginationItem">
            <button id="ButtonP" ng-disabled="currentPage+1 == 1" ng-click="currentPage=currentPage-1">
              <span translate>Précédent</span>
            </button>
            <span>{{currentPage+1}}/{{PaginationNumber}}</span>
            <button id="ButtonS" ng-disabled="currentPage+1 >= PaginationNumber" ng-click="currentPage=currentPage+1">
              <span translate>Suivant</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal d'évaluation -->
  <div id="modalEval" class="modal" data-backdrop="static">
    <div class="header">
      <span translate>J'évalue le partage</span>
    </div>
    <form>
      <div class="ZoneTextarea col-sm-12">
        <label>
          <textarea ng-model="Eval.commentaire"></textarea>
        </label>
      </div>
      <div class="evalZone">
        <div class="TitleEval">
          <span translate>Votre évaluation</span>:
        </div>
        <div class="rating"><!--
          --><a href="" ng-model="Eval.note" ng-click="Eval.note = 5" title="Donner 5 étoiles">★</a><!--
          --><a href="" ng-model="Eval.note" ng-click="Eval.note = 4" title="Donner 4 étoiles">★</a><!--
          --><a href="" ng-model="Eval.note" ng-click="Eval.note = 3" title="Donner 3 étoiles">★</a><!--
          --><a href="" ng-model="Eval.note" ng-click="Eval.note = 2" title="Donner 2 étoiles">★</a><!--
          --><a href="" ng-model="Eval.note" ng-click="Eval.note = 1" title="Donner 1 étoile">★</a>
        </div>
        <div ng-if="Eval.note != null">
          ({{Eval.note}} <span translate>étoiles</span>)
        </div>
      </div>
      <div class="buttonFrame col-sm-3">
        <button type="button"
                ng-click="eval(Eval)"
                data-dismiss="modal" ng-disabled="!Eval.note || !Eval.commentaire">
          <span translate>Valider</span>
        </button>
        <button type="button" data-dismiss="modal">
          <span translate>Annuler</span>
        </button>
      </div>
    </form>
  </div>

  <!--modal modif -->
  <div id="modalModif" class="modal" data-backdrop="static">
    <div class="header">
      <span translate>Modification</span>
    </div>
    <form name="modifForm">
      <div class="ZoneTextarea col-sm-12">
        <label>
          <textarea ng-model="annonceCom">{{annonceCom}}</textarea>
        </label>
      </div>

      <div class="Urgence" ng-if="natureID == 'DEMANDE'">
        <label>
          <input type="checkbox"
                 name="urgent"
                 ng-model="urgent.urgence"
                 ng-change="Urgentcheck(urgent)"/>
          <span translate>Urgent</span>?
        </label>
        <label>
          <input type="date" name="date"
                 ng-model="urgent.dt"
                 value='2009-11-11'>
        </label>
      </div>

      <div class="titlebox col-sm-2">
        <span translate>Thèmes</span>:
      </div>


      <div class="boxFrame col-sm-7">
        <div ng-repeat="e in themes" class="box col-sm-6">
          <label>
            <input type="checkbox"
                   checklist-model="selectT"
                   checklist-value="e"/>
            {{e.name |translate}}
          </label>
        </div>
      </div>

      <div class="buttonFrame col-sm-3">
        <button type="button"
                ng-click="modif(Modif)"
                data-dismiss="modal">
          <span translate>Modifier</span>
        </button>
        <button type="button" data-dismiss="modal">
          <span translate>Annuler</span>
        </button>
      </div>
    </form>
  </div>

  <div id="modalClose" class="modal" data-backdrop="static">
    <div class="header">
      <span translate>J'abandonne</span>
    </div>
    <form>
      <div class="TitleTextArea">
        <span translate>Quel est la raison de l'abandon</span> ?
      </div>
      <div class="ZoneTextarea col-sm-12">
        <label>
          <textarea ng-model="Close.commentaire"></textarea>
        </label>
      </div>
      <div class="buttonFrame col-sm-3">
        <button type="button"
                ng-click="archiveMIE(Close)"
                data-dismiss="modal">
          <span translate>Confirmer</span>
        </button>
        <button type="button"
                data-dismiss="modal">
          <span translate>Annuler</span>
        </button>
      </div>
    </form>
  </div>
</section>




