<section class="archive" ng-init="startVerif(); enableTitle()">

  <div class="row">
    <div class="col-sm-12 col-md-offset-1 col-md-10">
      <div class="col-sm-4 col-md-2">
        <a href="#/" class="logoMenu col-sm-2"></a>
      </div>
      <div class="col-sm-offset-1 col-sm-7">
      <div class="searchbox">
        <input type="text" ng-model="searchBox" placeholder="{{'Recherche'|translate}}..." class="form-control" />
        <button class="close" ng-click="searchBox = null">&times;</button>
      </div>
      </div>
    </div>
  </div>

  <!-- Menu Left -->
  <div class="row">

    <!-- Corp -->

    <div class="col-sm-12 col-md-offset-1 col-md-10">
      <div class="MenuLeft col-sm-2">

        <div id="TopFilter">
          <span translate>Filtres</span>
        </div>
        <div class="Separate"></div>

        <div class="Nature">
          <div id="NatureTitle">
            <span translate>Nature</span>
          </div>

          <div id="NatureCheckbox">
            <form name="formFiltreAnnonces" ng-click="FilterType(search.nature)">
              <label>
                <input type="checkbox" id="Offres" name="Offres"
                       data-ng-true-value="'OFFRE'"
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Offres</span>
              </label>
              <label>
                <input type="checkbox" id="Demandes" name="Demandes"
                       data-ng-true-value="'DEMANDE'"
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Demandes</span>
              </label>
              <label>
                <input type="checkbox" id="Tous" name="tous"
                       data-ng-true-value=""
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Tous</span>
              </label>
            </form>
          </div>
        </div>

        <div class="Separate light"></div>

        <div class="Urgence">
          <div id="UrgenceTitle">
            <span translate>Urgence</span>
          </div>

          <div id="UrgenceCheckbox">
            <label>
              <input type="checkbox" id="Solicitations" name="Solicitations"
                     data-ng-model="search.urgence.urgence"
                     data-ng-true-value='true'
                     data-ng-false-value=''
                     ng-click="FilterURgent(search.urgence.urgence)"/>
              <span translate>Solicitations urgentes</span>
            </label>
          </div>
        </div>

        <div class="Separate light"></div>

        <div class="Themes">
          <div id="ThemesTitle">
            <span translate>Thèmes</span>
          </div>

          <div id="ThemesCheckbox">
            <div class="row">
              <div class="col-sm-3 Themesitems" ng-repeat="t in themes">
                <label>
                  <input name="{{t.name}}" type="checkbox"
                         data-ng-true-value="'{{t.name}}'"
                         data-ng-model="SearchTheme.themes"
                         data-ng-false-value=""
                         ng-click="FilterTheme(SearchTheme.themes)"/>
                  {{t.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="itemslist col-sm-10">
        <div class="col-sm-12 RepeatItems"
              ng-repeat="i in AnnonceItems | orderBy: 'alldate':true | startFrom:currentPage*pageSize | limitTo:pageSize | filter: {nature: search.nature} | filter:search.urgence.urgence | filter:SearchTheme.themes | filter:searchBox | filter:q">
          <div class="item">
            <div class="LeftZone col-sm-2">
              <div class="col-md-12">
                <x-avatar url="{{ENV.prefix + '/user/avatar/' + i.initiateur.fedUserId}}"></x-avatar>
                <br />
                <span class="PseudoInitiateur">{{i.initiateur.pseudo}} </span>
              </div>
            </div>

            <div class="MidZone col-sm-7">

              <div class="arrow"
                    ng-class="{'GreenArrow': i.nature == 'OFFRE' && i.suiveur == null, 'BlueArrow': i.nature == 'DEMANDE' && i.suiveur == null, 'PurpleArrow': i.suiveur != null}">
                <span class="nature" ng-if="i.suiveur == null"> {{i.nature}} : </span>

                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.initiateur.pseudo && i.nature == 'DEMANDE'">
                <span translate>Votre demande à été accepté par </span>
                <span style="font-weight: bold">{{i.suiveur.pseudo}} : </span>
              </span>
                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.initiateur.pseudo && i.nature == 'OFFRE'">
                <span translate>Votre offre à été accepté par </span>
                <span style="font-weight: bold">{{i.suiveur.pseudo}} : </span>
              </span>

                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.suiveur.pseudo && i.nature == 'DEMANDE'">
                <span translate>Vous avez accepté la demande de </span>
                <span style="font-weight: bold">{{i.initiateur.pseudo}} : </span>
              </span>

                <span class="natureMEI"
                      ng-if="i.suiveur != null && $storage.pseudo == i.suiveur.pseudo && i.nature == 'OFFRE'">
                <span translate>Vous avez accepté l'offre de </span>
                <span style="font-weight: bold">{{i.initiateur.pseudo}} : </span>
              </span>

                <span class="titleA"> {{i.title}} </span>
              </div>

              <div class="ZoneText">
                <div class="content">
                  <pre>{{i.commentaire}}</pre>
                </div>
              </div>

              <div class="row-15">
                <span class="col-sm-3 pull-right text-right date" ng-if="i.suiveur == null"> {{i.postDate}} </span>
                <span class="col-sm-3 pull-right text-right date" ng-if="i.suiveur != null"> {{i.matchdate}} </span>

                <div class="themesZone col-sm-9" ng-if="i.themeList.length">
                  <div class="labelthemes"><span translate>Thèmes</span>: </div>
                  <div ng-repeat="AnnonceThemes in i.themeList" class="themes testthemes">
                    <div class="Itemthemes">{{AnnonceThemes.name}} <span>/</span></div>
                  </div>
                </div>

                <div class="themesZone col-sm-9" ng-if="i.tagList.length">
                  <div class="labelthemes"><span translate>Tags</span>: </div>
                  <div ng-repeat="AnnonceThemes in i.tagList" class="themes testthemes">
                    <div class="Itemthemes">{{AnnonceThemes.name}} <span>/</span></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="RightZone col-sm-3">
              <div class="imageNature col-lg-6">
                <div ng-if="i.suiveur != null">
                  <div class="col-md-12">
                    <x-avatar url="{{ENV.prefix + '/user/avatar/' + i.suiveur.fedUserId}}"></x-avatar>
                    <br />
                    <span class="PseudoSuiveur">{{i.suiveur.pseudo}}</span>
                  </div>
                </div>
              </div>

              <div class="etat col-lg-6">
                <div class="statut"
                      ng-if="i.suiveur == null && i.statut == 'CLOTURE'">
                  <span translate>DÉSACTIVÉ</span>
                </div>
                <div class="statut"
                      ng-if="i.suiveur != null && i.evaluation != null ">
                  <span translate>ÉVALUÉ</span>
                </div>
                <div class="statut"
                      ng-if="i.suiveur != null && i.evaluation == null" >
                  <span translate>ABANDONNÉE</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Pagination col-sm-12">
          <div class="PaginationItem">
            <button id="ButtonP"
                    ng-disabled="currentPage+1 == 1"
                    ng-click="currentPage=currentPage-1">
              <span translate>Précédent</span>
            </button>
            <span> {{currentPage+1}}/{{PaginationNumber}} </span>
            <button id="ButtonS"
                    ng-disabled="currentPage+1 >= PaginationNumber"
                    ng-click="currentPage=currentPage+1">
              <span translate>Suivant</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




