<div class="CadreConnexion">

  <section class="connexion" ng-init="enableTitle()">

    <h2>
      <span translate>Formulaire de connexion</span>
    </h2>

      <div class="formConnexion">
        <form novalidate class="simple-form">
          <input placeholder="{{'identifiant' | translate}}" value=""
                 ng-model="formData.user_login" class="form-control"/>
          <br>
          <input type="password" placeholder="{{'mot de passe' | translate}}" value=""
                 ng-model="formData.user_password" class="form-control"/>
          <input type="submit" ng-click="login()" value="Connexion" />
        </form>
      </div>
  </section>

</div>
