<section class="home" ng-init="startVerif(); enableTitle()">

  <div class="row">
    <div class="section1 col-lg-12">
      <div id="background"></div>
      <div id="element1">
        <span id="text1" translate>
          Venez comme vous êtes pour partager vos connaissances ou
          simplement donner un coup de main
        </span>
      </div>
      <div id="element2">
        <div class="row">
          <div class="text col-lg-12" ng-click="VerifState()">
            <span ng-show="$storage.fedUserId == null ">
              > <span translate>Créez votre Profil</span>
            </span>
            <span ng-show="$storage.fedUserId != null ">
              > <span translate>Modifier votre Profil</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section2 col-lg-12">
      <div class="row">
        <span id="TitleSection2">Partage’On</span>
      </div>
      <div class="row">
        <span id="SubTitleSection2">
          <span translate>Comment ça marche</span> ?
        </span>
      </div>
      <div class="row">
        <div id="TextSection2">
          <p translate>
            Partage'On est un outil collaboratif de partage de compétences.
            Il est ouvert à tous les collaborateurs de Natixis Intégrée.
            Pour commencer, il suffit de créer son profil, en respectant les consignes d'anonymat.
            Ensuite, vous êtes prêts pour partager !
          </p>
          <p translate> Que vous proposiez de l'aide sur les bases du métier de l'Assurance,
            sur les fonctionnalités Excel, ou le développement Mobile ;
            Que vous souhaitiez profiter du déjeuner pour vous perfectionner en anglais,
            ou avoir du coaching sur le Marketing digital, venez créer votre partage,
            et gagner des DEEPs à chacun de vos échanges.
          </p>
          <p translate>
            Devenez le maitre du partage et les purples DEEPs seront à vous !
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section3 col-lg-12">
      <div class="row">
        <span id="TitleSection3" translate>Les DEEPS</span>
      </div>
      <div class="row">
        <span id="SubTitleSection3">
          <span translate>Késako</span> ?
        </span>
      </div>
      <div class="row">
        <div id="TextSection3">
          <p translate>
            Les DEEPs ou Digital Exchange and Experience Points sont des points à gagner tout au long de votre parcours
            et de vos partages sur le site Partage'On. Votre compteur de DEEPs s'incrémente en temps réel selon les
            actions que vous faites.
          </p>
          <p translate>
            Vos DEEPs vous permettront de gagner des prix saisonniers. Au fil de l’enrichissement du site,
            vos DEEPs vous permettront de débloquer des fonctionnalités supplémentaires,
            de gagner de trophées et d'accéder à des statuts.
          </p>
          <p translate>
            Les transferts de DEEPs sont assurés par une blockchain interne, basée sur la technologie Ethereum
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
