<section class="profil" ng-init="startVerif(); enableTitle()">

  <div class="items col-lg-offset-2 col-lg-8">
    <form name="profileForm" ng-submit="foo()">

      <div class="zone1 container-fluid">

        <div class="row">
          <div class="text-center col-sm-3 col-md-offset-1 col-md-2 ZoneAvatar" ng-model="profil">
            <x-avatar url="{{ENV.prefix + '/user/avatar/' + $storage.fedUserId + '?t='+$storage.random}}"></x-avatar>
            <a ng-click="functAvatars()" data-toggle="modal" data-target="#AvatarModal">
              > <span translate>Modifier</span>
            </a>
          </div>

          <div class="FormProfil col-sm-9">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-5">
                <p>
                  <label class="row-15">
                    <span class="col-sm-4 control-label">
                      <span translate>Pseudo</span>
                      <span class="require">*</span> :
                    </span>
                    <span class="col-sm-8">
                      <input class="form-control" maxlength="25" name="pseudo" type="text" required
                            ng-minlength="2" ng-maxlength="20"
                            ng-model="profil.pseudo"
                            pattern="^[a-zA-Z]{1,20}[0-9]{0,3}$"/>
                    </span>
                  </label>
                </p>
                <p>
                  <label class="row-15">
                    <span class="col-sm-4 control-label">
                      <span translate>Nom</span> :
                    </span>
                    <span class="col-sm-8">
                      <input class="form-control" name="nom" type="text"
                            ng-maxlength="30" ng-model="profil.nom"
                            ng-disabled=true />
                    </span>
                  </label>
                </p>
                <p>
                  <label class="row-15">
                    <span class="col-sm-4 control-label">
                      <span translate>Prenom</span> :
                    </span>
                    <span class="col-sm-8">
                      <input class="form-control" name="prenom" type="text"
                            ng-model="profil.prenom"
                            ng-disabled=true />
                    </span>
                  </label>
                </p>

                <div id="deepZone">
                  <div ng-model="deep">
                    <p class="nbDeeps">
                      <span translate>Crédits Deeps total</span> :
                      <span> {{deep.total}} </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-5">
                <p>
                  <label class="row-15">
                    <span class="col-sm-4 control-label">
                      <span translate>Email Pro</span>
                      <span class="require">*</span> :
                    </span>
                    <span class="col-sm-8">
                      <input class="form-control" name="email" type="email" required
                            ng-model="profil.email" ng-disabled=true />
                    </span>
                  </label>
                </p>
                <p>
                  <label class="row-15">
                    <span class="col-sm-4 control-label">
                      <span translate>Téléphone</span> :
                    </span>
                    <span class="col-sm-8">
                      <input class="form-control" name="phone" type="text" ng-model="profil.telephone"
                            pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                            minlength="10" maxlength="10"/>
                    </span>
                  </label>
                  <span style="color:red" ng-show="profileForm.profil.telephone.$error.pattern">
                    <span translate>Le numéro de téléphone doit être numérique</span>.
                  </span>
                </p>
                <p>
                  <label class="row-15">
                    <span class="col-sm-4 control-label">
                      <span translate>Mobile</span> :
                    </span>
                    <span class="col-sm-8">
                      <input class="form-control" name="mobile" type="text" ng-model="profil.mobile"
                            pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                            minlength="10" maxlength="10"
                            ng-class="{'invalidfield' : profil.mobile != '' && profileForm.profil.mobile.$error.pattern}"/>
                    </span>
                  </label>
                  <span style="color:red" ng-show="profileForm.profil.mobile.$error.pattern">
                    <span translate>Le numéro de téléphone mobile doit être numérique</span>
                  </span>
                </p>
                <p>
                  <label class="row-15">
                    <span class="col-sm-4 control-label">
                      <span translate>Site</span> :
                    </span>
                    <span class="col-sm-8">
                      <input class="form-control" name="site" type="text" ng-model="profil.site" ng-disabled=true maxlength="15"
                            pattern="^[a-zA-Z]{1,20}[0-9]{0,5}$"/>
                    </span>
                  </label>
                </p>
                <br>
                <span style="color:red"
                      ng-show="profil.site != '' && profil.site.length > 15 "
                      translate>Champ incorrect</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="zone2 col-sm-12">
          <div class="headLine col-sm-offset-2 col-sm-8"></div>
          <div class="FormZone2 col-sm-6">
            <p id="TitleMedia">
              <span translate>Médias privilégiés</span>
            </p>
            <div class="row">
              <div class="MediaCheck col-sm-11">
                <div class="row">
                  <div class="col-sm-4" ng-repeat="m in media">
                    <label> {{m.media |translate}}
                      <input name="m.media" type="checkbox" checklist-model="selectM" checklist-value="m"/>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="FormZone2 col-sm-6">
            <p id="TitleFavoriteDate">
              <span translate>Jours et Plages Horaires à Privilégier</span>
            </p>
            <div class="row">
              <div class="col-sm-12">
                <p>
                  <label>
                    <textarea ng-maxlength="500" rows="4" cols="50" name="comment" ng-model="profil.commentaire"
                              ng-maxlength="250">{{com}}
                    </textarea>
                  </label>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="zone3 col-sm-12">
          <div class="FormZone3 col-sm-12">
            <p id="TitleSites">
              <span translate>Sites Accessibles</span>
            </p>
            <div class="frame">
              <div class="row">
                <div class="SitesCheckP1 col-sm-12">
                  <div class="row">
                    <div class="col-sm-3" ng-repeat="x in sites">
                      <div ng-if="x.region =='IDF'">
                        <label> {{x.site}}
                          <input name="{{x.site}}" type="checkbox" checklist-model="selectS" checklist-value="x"/>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="SitesCheckP2 col-sm-12">
                  <div class="col-sm-3" ng-repeat="z in sites">
                    <div class="row" ng-if="z.region != 'IDF'">
                      <p>
                        <label>
                          {{z.site}}
                          <input name="{{z.site}}" type="checkbox" checklist-model="selectS" checklist-value="z"/>
                        </label>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="avertissement">
        <span ng-if="profil.unknownFromDB == null">
          <span translate>Si vous quittez la page sans </span>
          <span style="font-weight: bold" translate>Valider</span>,
          <span translate>les informations saisies ne seront pas sauvegardées</span>
        </span>
        <span ng-if="profil.unknownFromDB != null">
          <span translate>Si vous quittez la page sans </span>
          <span style="font-weight: bold" translate>Enregistrer</span>,
          <span translate>les informations saisies ne seront pas sauvegardées</span>
        </span>
      </div>

      <input class="submitButton" type="submit"
              ng-click="SaveData(sites, media, profil, m, com)"
              value="{{'Valider' |translate}}" ng-if="profil.unknownFromDB == null"/>
      <input class="submitButton" type="submit"
              ng-click="SaveData(sites, media, profil, m, com)"
              value="{{'Enregistrer' |translate}}" ng-if="profil.unknownFromDB != null"/>
    </form>
  </div>

  <!-- Avatar Modal -->
  <div class="modal fade" id="AvatarModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="POST" enctype="multipart/form-data" id="new-avatar" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          <span translate>Modifier Avatar</span>
        </h4>
      </div>
      <div class="modal-body">
        <input type="file" name="file" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <span translate>Fermer</span>
        </button>
        <button type="submit" class="btn btn-primary ValidButton"
                data-dismiss="modal"
                ng-click="AvatarUploaded()">
          <span translate>Valider</span>
        </button>
      </div>
    </form>
  </div>
</section>
