<section class="recherche" ng-init="enableTitle()">

  <!-- Top Zone -->
  <!-- Logo -->

  <div class="row">
    <div class="top col-sm-12 col-md-offset-1 col-md-10">
      <div class="col-sm-4 col-md-2">
        <a href="#/" class="logoMenu col-sm-2"></a>
      </div>
      <div class="col-sm-offset-1 col-sm-7">
      <div class="searchbox">
        <input type="text" ng-model="searchBox" placeholder="{{'Recherche'|translate}}..." class="form-control" />
        <button class="close" ng-click="searchBox = null">&times;</button>
      </div>
      </div>
    </div>
  </div>

  <!-- Menu Left -->
  <div class="row">

    <!-- Corp -->

    <div class="col-sm-12 col-md-offset-1 col-md-10">
      <div class="MenuLeft col-sm-2">

        <div id="TopFilter">
          <span translate>Filtres</span>
        </div>
        <div class="Separate"></div>

        <div class="Nature">
          <div id="NatureTitle">
            <span translate>Nature</span>
          </div>

          <div id="NatureCheckbox">
            <form name="formFiltreAnnonces" ng-click="FilterType(search.nature)">
              <label>
                <input type="checkbox" id="Offres" name="Offres"
                       data-ng-true-value="'OFFRE'"
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Offres</span>
              </label>
              <label>
                <input type="checkbox" id="Demandes" name="Demandes"
                       data-ng-true-value="'DEMANDE'"
                       data-ng-model="search.nature"
                       data-ng-false-value='' />
                <span translate>Demandes</span>
              </label>
              <label>
                <input type="checkbox" id="Tous" name="tous"
                       data-ng-true-value=""
                       data-ng-model="search.nature"
                       data-ng-false-value=''/>
                <span translate>Tous</span>
              </label>
            </form>
          </div>
        </div>

        <div class="Separate light"></div>

        <div class="Urgence">
          <div id="UrgenceTitle">
            <span translate>Urgence</span>
          </div>
          <div id="UrgenceCheckbox">
            <label>
              <input type="checkbox" id="Solicitations" name="Solicitations"
                     data-ng-model="search.urgence.urgence"
                     data-ng-true-value='true'
                     data-ng-false-value=''
                     ng-click="FilterURgent(search.urgence.urgence)"/>
              <span translate>Solicitations urgentes</span>
            </label>
          </div>
        </div>

        <div class="Separate light"></div>
        <div class="Themes">
          <div id="ThemesTitle">
            <span translate>Thèmes</span>
          </div>
          <div id="ThemesCheckbox">
            <div class="row">
              <div class="col-sm-3 Themesitems" ng-repeat="th in themes">
                <label>
                  <input name="{{th.name}}" type="checkbox"
                         data-ng-true-value="'{{th.name}}'"
                         data-ng-model="SearchTheme.themes"
                         data-ng-false-value=""
                         ng-click="FilterTheme(SearchTheme.themes)"/>
                  {{th.name|translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="itemslist col-sm-10">
        <div class="col-sm-12"
              ng-repeat="i in AnnonceItems | orderBy: 'annonceId':true | startFrom:currentPage*pageSize | limitTo:pageSize | filter: {nature: search.nature} | filter:search.urgence.urgence | filter:SearchTheme.themes | filter:searchBox | filter:q">
          <div class="row">
            <div class="item" ng-if="i.suiveur == null && i.statut == 'DISPONIBLE'">
              <div class="LeftZone col-sm-2">
                <div class="col-md-12">
                  <x-avatar url="{{ENV.prefix + '/user/avatar/' + i.initiateur.fedUserId}}"></x-avatar>
                  <br />
                  <span class="PseudoInitiateur">{{i.initiateur.pseudo}}</span>
                </div>
              </div>

              <div class="MidZone col-sm-7">
                <div class="arrow"
                      ng-class="{'GreenArrow': i.nature == 'OFFRE', 'BlueArrow': i.nature == 'DEMANDE'}">
                  <span class="nature">{{i.nature |translate}} : </span>
                  <span class="titleA">{{i.title |translate}} </span>
                </div>

                <div class="ZoneText">
                  <div class="content">
                    <pre>{{i.commentaire}}</pre>
                  </div>
                </div>

                <div class="row-15">
                <span class="col-sm-3 pull-right text-right date">{{i.postDate}}</span>

                  <div class="themesZone col-sm-9" ng-if="i.themeList.length">
                    <div class="labelthemes"><span translate>Thèmes</span>: </div>
                    <div ng-repeat="AnnonceThemes in i.themeList" class="themes testthemes">
                      <div class="Itemthemes">{{AnnonceThemes.name}} <span>/</span></div>
                    </div>
                  </div>

                  <div class="themesZone col-sm-9" ng-if="i.tagList.length">
                    <div class="labelthemes"><span translate>Tags</span>: </div>
                    <div ng-repeat="AnnonceThemes in i.tagList" class="themes testthemes">
                      <div class="Itemthemes">{{AnnonceThemes.name}} <span>/</span></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="RightZone col-sm-3"
                    ng-class="{RightZonePosition: $storage.pseudo == i.initiateur.pseudo}">
                <div class="imageNature col-lg-6">
                  <button class="DemandeButton"
                          ng-show=" i.nature == 'DEMANDE' && $storage.fedUserId != null && $storage.pseudo != i.initiateur.pseudo"
                          data-toggle="modal" data-target="#modalHelp"
                          ng-click="annonceID(i.annonceId)">
                    <span translate>Je peux t'aider !</span>
                    <br>
                    <span class="chevron"> > </span>
                  </button>
                  <button class="OffreButton"
                          ng-show="i.nature == 'OFFRE' && $storage.fedUserId != null && $storage.pseudo != i.initiateur.pseudo"
                          data-toggle="modal" data-target="#modalWant"
                          ng-click="annonceID(i.annonceId)">
                    <span translate>Ça m'intéresse</span>
                    <br>
                    <span class="chevron"> > </span>
                  </button>
                </div>

                <div class="InfosPosition col-lg-6">
                  <div class="etat col-lg-12">
                    <div class="urgent"
                          ng-if="i.urgence.urgence == true ">
                      <span translate>URGENT</span>
                    </div>
                    <div class="dateUrgence"
                          ng-if="i.urgence.urgence == true ">
                      {{i.urgence.urgencedate | limitTo:10}}
                    </div>
                    <div class="disponible" ng-if="i.urgence.urgence == false ">
                      <span translate>DISPONIBLE</span>
                    </div>
                  </div>

                  <div class="NbPartage col-lg-12" ng-if="i.nombrePartages >= 1" translate>
                    <span>{{i.nombrePartages}}</span>
                    <span translate translate-n="i.nombrePartages"
                          translate-plural="{{'Partages'|translate}}">{{'Partage'|translate}}</span>
                  </div>

                  <div class="NbPartage col-lg-12" ng-if="i.nombrePartages === 0" translate>
                    <span>{{i.nombrePartages}}</span>
                    <span translate>Partage</span>
                  </div>

                  <div class="rating col-lg-12"><!--
                    --><a href="" ng-class="{ORangeStar: i.moyenneEvaluations > '0.5'}">★</a><!--
                    --><a href="" ng-class="{ORangeStar: i.moyenneEvaluations >= '1.5'}">★</a><!--
                    --><a href="" ng-class="{ORangeStar: i.moyenneEvaluations >= '2.5'}">★</a><!--
                    --><a href="" ng-class="{ORangeStar: i.moyenneEvaluations >= '3.5'}">★</a><!--
                    --><a href="" ng-class="{ORangeStar: i.moyenneEvaluations >= '4.5'}">★</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Pagination">
          <div class="PaginationItem">
            <button id="ButtonP"
                    ng-disabled="currentPage+1 == 1"
                    ng-click="currentPage=currentPage-1">
              <span translate>Précédent</span>
            </button>
            <span> {{currentPage+1}}/{{PaginationNumber}} </span>
            <button id="ButtonS"
                    ng-disabled="currentPage+1 >= PaginationNumber"
                    ng-click="currentPage=currentPage+1">
              <span translate>Suivant</span>
            </button>
          </div>
        </div>
      </div>
    </div>


    <!--modal Je peux t'aider -->
    <div id="modalHelp" class="modal" data-backdrop="static">
      <div class="Sub">
        <div class="header">
          <span translate>Je peux t'aider !</span>
        </div>

        <div class="SubInfos">
          <span translate>Votre message complémentaire à la notification de proposition d'aide</span>
        </div>

        <form>
          <div class="ZoneTextarea col-sm-12">
            <label>
              <textarea ng-model="Help.commentaire"></textarea>
            </label>
          </div>
          <div class="buttonFrame col-sm-3">
            <button type="button"
                    ng-click="helpWant(Help)"
                    data-dismiss="modal">
              <span translate>Valider</span>
            </button>
            <button type="button" data-dismiss="modal">
              <span translate>Annuler</span>
            </button>
          </div>
        </form>
      </div>
    </div>


    <!-- modal Ca m'intéresse -->
    <div id="modalWant" class="modal" data-backdrop="static">
      <div class="Sub">
        <div class="header">
          <span translate>Ca m'intéresse !</span>
        </div>

        <div class="SubInfos">
          <span translate>Votre message complémentaire à la notification d'intéret</span>
        </div>

        <form>
          <div class="ZoneTextarea col-sm-12">
            <label>
              <textarea ng-model="Want.commentaire"></textarea>
            </label>
          </div>
          <div class="buttonFrame col-sm-3">
            <button type="button" ng-click="helpWant(Want)" data-dismiss="modal">
              <span translate>Valider</span>
            </button>
            <button type="button" data-dismiss="modal">
              <span translate>Annuler</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


