<link rel="import" href="../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html" />

<dom-module id="x-avatar">
  <template>
    <style>
      :host::before {
        content: "";
        display: block;
        padding-bottom: 100%; /* hack: to always have a square */
      }

      :host,
      span {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      :host {
        position: relative;
        margin: 0 auto;
        background-image: url("../../images/no.avatar2.jpg");
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    </style>

    <template is="dom-if" if="{{ _url }}">
      <span style="background-image: url({{ _url }});"></span>
    </template>

  </template>

  <script>
    class AvatarElement extends Polymer.Element {
      static get is() { return "x-avatar"; }

      static get properties() {
        return {
          url: {
            type: String,
            value: '',
            observer: '_urlChanged',
          },

          _url: {
            type: String,
            value: '',
          },
        }
      }

      _urlChanged(url) {
        if (/^[^{]*\/user\/avatar\/[^?]+(\?t=.+)?$/.test(url)) {
          this._url = url
        }
      }
    }

    customElements.define(AvatarElement.is, AvatarElement)
  </script>
</dom-module>
